<div class="container mt-4">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <h1 class="text-center">Log In</h1>
                <form class="alertAppend">
                    <div class="form-group">
                        <label for="emailInput">Email address</label>
                        <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="passwordInput">Password</label>
                        <input type="password" class="form-control" id="passwordInput">
                    </div>
                    <button id="submitBtn" type="submit" class="btn btn-primary">Submit</button>
                    <small class="form-text text-muted">Not Registered Yet..? <a
                            href="/user/register">Register</a></small>
                </form>
            </div>
        </div>
    </div>
<div id="spaceDiv" class="container">
    <div class="row">
        <div class="col-8-md">
            <br>
        </div>
    </div>
</div>


<div>
    <div class="row">
        <div class="col-sm-12">
            <div class="container">
                <h5>Find the state or country of your choosing</h5>
            </div>
            <div class="row">
                <div class="buttonBox">
                    <div class="buttons-view"></div>
                </div>
            </div>
            <br>
            <div id="search-box">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="container">
                            <input id="topic" class="white-text" type="text" placeholder="topic">
                            <form class="create-form">
                                <button type="button" class="btn btn-outline-secondary">Search</button></i>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  <script type="text/javascript" src="/js/login.js"></script>