<nav class="navbar navbar-expand-sm navbar-dark navbarC">
    <span class="navbar-brand" href="/">InfODose</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link text-primary" href="/report">Report</a>
            <a class="nav-item btn text-right text-white mr-4 bg-white text-dark" href="/auth/logout">Logout</a>
        </div>

    </div>
</nav>
{{!-- main container --}}
<div class="container-fluid">
    {{!-- main row --}}
    <div class="row">
        {{!-- main column1 --}}
        <div class="col-sm-9">
            {{!-- sub row1 --}}
            <div class="row">
                {{!-- form  col--}}
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h3>Search:</h3>
                            <p>Please enter the correct information as stated</p>
                            <p>in the examples below for correct results.</p>
                            <form class="create-form">
                                <div class="form-group" class="rounded">
                                    <label for="st">State:</label>
                                    <input type="text" id="st" name="name" placeholder="ex. Florida">
                                    <hr>
                                    <label for="co">County:</label>
                                    <input type="text" id="co" name="name" placeholder="ex. Orange County">
                                    <hr>
                                    <label for="yr">Year:</label>
                                    <input type="text" id="yr" name="name" placeholder="2003 - 2017 ex. 2003">
                                    <div id="warning"></div>
                                </div>
                                <button type="submit" id="subButton">Search</button>
                            </form>
                        </div>
                    </div>
                </div>
                {{!-- result col --}}
                <div class="col-sm-6">
                    <div class="infoStats">
                    </div>
                </div>
                <h5 class="card-title">Watch these YouTube Videos
                    about more information on this crisis</h5>
                <p style="text-align:center;">
                    <iframe width="320" height="315" align="middle"
                        src="https://www.youtube.com/embed/s4LV0tBZncI?controls=0">
                    </iframe>
                </p>
                <p style="text-align:center;">
                    <iframe width="320" height="315" align="middle"
                        src="https://www.youtube.com/embed/nNj89ohoYQ0?controls=0">
                    </iframe>
                </p>
                <p style="text-align:center;">
                    <iframe width="320" height="315" align="middle"
                        src="https://www.youtube.com/embed/oHlaz0kQlRE?controls=0">
                    </iframe>
                </p>

            </div>
            {{!-- sub row2 --}}
            <div class="row">
                {{!-- helpful links col --}}
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Helpful Resources</h5>
                            <p class="card-text">These are some websites with more information about our current
                                problems
                                with opioid.</p>
                            <p> D.A.R.E. Website
                                <a href="https://www.dare.org/"><img src="/images/darelogo.png" alt="D.A.R.E. Website"
                                        height="52" width="94"> </a>
                            </p>
                            <p> Naddi Website
                                <a href="https://www.naddi.org/"><img src="/images/naddilogo.png" alt="Naddi Website"
                                        height="52" width="94"></a>
                            </p>
                            <p> Crimeline Website
                                <a href="https://www.crimeline.org"><img src="/images/cimelinelogo.png"
                                        alt="Crimeline Website" height="52" width="94"></a>
                            </p>
                            <p> DEA Website
                                <a href="https://www.dea.gov/"><img src="/images/dealogo.png" alt="DEA Website"
                                        height="52" width="94"></a>
                            </p>
                            <p> Hidta Website
                                <a href="https://www.dea.gov/hidta"><img src="/images/hidtalogo.png" alt="Hidta Website"
                                        height="52" width="94"></a>
                            </p>
                        </div>
                    </div>
                </div>
                {{!-- news col --}}
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="row no-gutters">
                                <div class="col">
                                    <img src="https://static01.nyt.com/images/2020/04/13/upshot/13up-health-opioids1/merlin_165415239_a5691fb3-0a47-4b01-ad6d-b1171ca41194-jumbo.jpg?quality=90&auto=webp"
                                        class="card-img" alt="...">
                                </div>
                                <div class="col">
                                    <div class="card-body">
                                        <h5 class="card-title">The Coronavirus Pandemic Has Made The Opioid Epidemic
                                            Even
                                            Worse</h5>
                                        <p class="card-text">Deaths from drug overdoses are likely to increase
                                            during the
                                            coronavirus outbreak because of disruption to recovery routines and
                                            access to
                                            treatment,
                                            according to counselors and people whose rehabilitation depends on daily
                                            care..
                                        </p>
                                        <p class="card-text"><small class="text-muted">Last updated 3 mins
                                                ago</small></p>
                                        <p class="card-text"><small class="text-muted">Reference:
                                                https://www.buzzfeednews.com/article/otilliasteadman/coronavirus-opioids-overdoses</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{!-- main column2 --}}
        <div class="col-sm-3">
            {{!-- police info --}}
            <h4>Local Police Departments Near Your Location</h4>
            <br>
            <p>Help better your neighborhood by making it Drug Free.
                If you see any suspicious activity, Report it!
            </p>
            <div id="police"></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/index.js"></script>