{{!-- main container --}}
<div class="container-fluid">
    {{!-- row1 --}}
    <div class="row">
        {{!-- column1 --}}
        <div class="col-sm-5">

           
           Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente praesentium natus tempora dignissimos, soluta assumenda numquam quasi illum ipsam incidunt enim ab commodi repudiandae ullam necessitatibus corporis impedit eius accusantium.         
         
    </div>

    {{!-- column2 --}}
    <div class="col-sm-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, nesciunt enim. Distinctio ratione et tempora incidunt doloremque ut asperiores, quis, sunt iste quam cum esse magnam! Alias minima dolore dolores?
    </div>
    {{!-- column3 --}}
    <div class="col-sm-2">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim molestias voluptatem itaque voluptates accusamus. Ex accusantium repellendus iste quo hic, labore nostrum laborum, porro numquam voluptatum perferendis, voluptatibus quidem ad?unihlinhln

    </div>

{{!-- row2 --}}
    <div class="row">
        {{!-- column1 --}}
        <div class="col-sm-5">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">These are some websites with more information.</p>
                <a href="#" class="card-link">https://www.dare.org/</a>
                <a href="#" class="card-link">https://www.naddi.org/</a>
                <a href="#" class="card-link">https://www.crimeline.org/</a>
                <a href="#" class="card-link">https://www.dea.gov/</a>
                <a href="#" class="card-link">https://www.dea.gov/hidta</a>
            </div>
        </div>
        </div>
        {{!-- column2 --}}
        <div class="col-sm-5">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum doloremque architecto iste tempora perferendis ad, ipsa ducimus ratione vero voluptates hic voluptatibus deserunt, itaque perspiciatis fuga. Officiis, magnam? Porro, est.
        </div>
          {{!-- column3 --}}
        <div class="col-sm-2">
            <div id="police"></div>
            
        </div>
    </div>
</div>



    <script type="text/javascript" src="/js/index.js"></script>