<nav class="navbar navbar-expand-sm navbar-dark navbarC">
        <span class="navbar-brand" href="/">InfODose</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-primary" href="/user/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/register">Register</a>
                </li>
            </div>
        </div>
    </nav>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <h1 class="text-center">Register</h1>
                <form class="alertAppendReg">
                    <div class="form-group">
                        <label for="emailInputReg">Email address</label>
                        <input type="email" class="form-control" id="emailInputReg" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="passwordInputReg">Password</label>
                        <input type="password" class="form-control" id="passwordInputReg">
                    </div>
                    <div class="form-group">
                        <label for="passwordTwoInputReg">Confirm Password</label>
                        <input type="password" class="form-control" id="passwordTwoInputReg">
                    </div>
                    <button id="submitBtnReg" type="submit" class="btn btn-primary">Submit</button>
                    <small class="form-text text-muted">Already Registered..? <a href="/user/login">Log In</a></small>
                </form>
            </div>
        </div>
    </div>
    
  <script type="text/javascript" src="/js/register.js"></script>