#pdCard{
    margin-bottom: 10px;
}
body {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 16px;
   background-color: rgb(9, 72, 155);
}
.navbar-brand {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-stretch: ultra-expanded;
    color:  lightgray;
    /* color: rgb(255, 255, 0); */
 
}
.navbarC {
    background-color: rgba(4, 26, 54, 0.87);
    color: rgb(190, 190, 17);
}

#navbarInfo {
    background-image: url("../images/cssinfoimage.jpg");
}
#warning {
    background-color: red;
    color: white;
    width: 30px;
}
.card {

    border-width: 2px;
    border-color: black;
<<<<<<< HEAD
<<<<<<< HEAD
=======
    
=======
    margin-bottom: 10px;
>>>>>>> 5428ccbb8587e59f32a16c8301805562aee40740
=======
    margin-bottom: 10px;
    background-color: lightgray;
    

}
>>>>>>> 659c87100c529055010ebf0ada9ab40dace7e974

#loginDiv {
    color: whitesmoke;
}