#pdCard{
    margin-bottom: 10px;
}
body {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 16px;
   background-color: oldlace;
}
.navbar-brand {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-stretch: ultra-expanded;
}
#warning {
    background-color: red;
    color: white;
}
.card {

    border-width: 2px;
    border-color: black;
<<<<<<< HEAD
=======
    
=======
    margin-bottom: 10px;
>>>>>>> 5428ccbb8587e59f32a16c8301805562aee40740

}